version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 school_app.wsgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=school_db
      - POSTGRES_USER=school_user
      - POSTGRES_PASSWORD=school_password

volumes:
  postgres_data:
