{% extends 'base.html' %}

{% block title %}Staff{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'staffs:staff-create' %}"><i class="fas fa-plus"></i> New Staff</a>
{% endblock breadcrumb %}

{% block content %}
  <table id="stafftable" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>S/N</th>
        <th>Photo</th>
        <th>Fullname</th>
        <th>Gender</th>
        <th>Mobile Phone Number</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      {% for staff in object_list %}
        <tr class='clickable-row' data-href="{% url 'staffs:staff-detail' staff.id %}"></tr>
          <td>{{ forloop.counter}}</td>
          <td>
            {% if staff.image %}
              <img src="{{ staff.image.url }}" alt="{{ staff.firstname }}" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
            {% else %}
              <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                <i class="fas fa-user text-muted"></i>
              </div>
            {% endif %}
          </td>
          <td>{{ staff.surname}} {{staff.firstname }} {{staff.other_name }}</td>
          <td>{{ staff.get_gender_display}}</td>
          <td>{{ staff.mobile_number}}</td>
          <td>{{ staff.get_current_status_display}}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}

{% block morejs %}
<script>
   $('#stafftable').DataTable({
    select: false
    });
</script>
{% endblock morejs %}