{% extends 'base.html' %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'staffs:staff-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'staffs:staff-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <div class="text-center mb-4">
      {% if object.image %}
      <img src="{{ object.image.url }}" alt="{{ object.firstname }}" class="img-fluid rounded-circle"
        style="width: 200px; height: 200px; object-fit: cover;">
      {% else %}
      <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center"
        style="width: 200px; height: 200px;">
        <i class="fas fa-user fa-3x text-muted"></i>
      </div>
      {% endif %}
    </div>
    <div>
      <h3>{{ object }} </h3>
      <h5>{{ object.get_gender_display }} </h5>
      <h5>{{ object.get_current_status_display }} </h5>
    </div>
  </div>
  <div class="col-sm-8">
    <div>
      <div class="form-group border-bottom row">
        <label class="col">
          Date of Birth
        </label>
        <div class="col">
          {{ object.date_of_birth }}
        </div>
      </div>

      <div class="form-group border-bottom row">
        <label class="col">
          Mobile Number
        </label>
        <div class="col">
          {{ object.mobile_number}}
        </div>
      </div>

      <div class="form-group border-bottom row">
        <label class="col">
          Address
        </label>
        <div class="col">
          {{ object.address }}
        </div>
      </div>
      <div class="form-group border-bottom row">
        <label class="col">
          Comments
        </label>
        <div class="col">
          {{ object.others }}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}